# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.ipynb_checkpoints
data/.ipynb_checkpoints
*.iml
out
gen
src/geckodriver.log
/file_*.log
/geckodriver.log
data/actual_vocab.csv
